@page
@model AboutMeModel
@{
    ViewData["Title"] = "AboutMe";
}

<img class="KarimIMG" src="~/images/KarimPNG.jpg" alt="a selfi with the creator of the page: Karim">
<h1 class="centertext">About me</h1>
<div class="centertext">
    <p>
        HI there!
    </p>
    <p>
        Now this is a story all about how
        <br>
        My life got flipped turned upside down
        <br>
        And I'd like to take a minute, just sit right there
        <br>
        I'll tell you how I became the prince of a town called Ballerup
    </p>
    <p>
        Jokes aside, im a ung man, 24years of age and im currently studing Software Engeneering.
        <br>
        Beside that im working as a swim coach and as a student supervisor.
    </p>
</div>
