@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to the home page</h1>
<br/>
<p> Use the Top menu to navigate the page <br>
    This site has been made by Karim <br />
    I have used different libraries:</p>
<ul>
    <li>Gallery: <a href="http://miromannino.github.io/Justified-Gallery/"> JustifiedGallery </a> &amp; <a href="http://sachinchoolur.github.io/lightGallery/">LightGallery</a> </li>
    <li>TextBox on admin site: <a href="http://nicedit.com/">Nicedit</a></li>
    <li>Upload Box to drag and drop image opload: <a href="http://www.dropzonejs.com/"> Dropzone.js</a></li>
</ul>
