@page
@model WebSiteProjectRacerPage.Pages.NewsletterPageModel
@{
    ViewData["Title"] = "NewsletterPage";
}

<h2>My news</h2>
<a asp-page="/SignUpForNews">Sign up for newsletter</a>


<h1>First blood</h1>

        <p class="newsPost">Hej dette er min første post, og tester bare at jeg kan poste</p>


