@page
@model WebSiteProjectRacerPage.Pages.NewsletterPageModel
@{
    ViewData["Title"] = "NewsletterPage";
}
@section Styles {
    <link rel="stylesheet" href="~/css/NewsSite.css" />
}


<h2>My news</h2>
<a asp-page="/SignUpForNews">Sign up for newsletter</a>


<h1>Zanzibar</h1>

<p class="newsPost">
    hej internet <br>
    jeg var i (eller er det på hmm...) Zanzibar i sommerferien det var superhyggeligt var afsted med hele familien for første gang i lang tid! <br />
    Vi var ud og se dyr, blomster og flotte strande, jeg var for første gang ovre på østsiden af znz som er der hvor der er rigtig flotte hvide strande <br />
    i kan se nogle af mine billede i galleriget.
    <br />
    <br />
    hilsen Karim
</p>


<h1>First Blood</h1>

<p class="newsPost">
    Hej Internet! <br>
    Dette er min første post, og tester bare at jeg kan poste
</p>


