@page
@model WebSiteProjectRacerPage.Pages.SignUpForNewsModel
@{
    ViewData["Title"] = "SignUpForNews";
}

<h2>Sign up for my news letter</h2>
<div>
    <p>
        Enter your information for automaticly recive an email every time there is an update 
    </p>
</div>

<div>
    <form action="" method="">
        <p>Name: </p>
        <input type="text" name="name" /> <br>
        <p>Email: </p>
        <input type="email" name="email" /> <br> <br>
        <input type="submit" value="Submit">

    </form>
</div>


